# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INPUT_TOPIC=taxi.trips
KAFKA_OUTPUT_NORMAL_TOPIC=taxi.normal
KAFKA_OUTPUT_ANOMALY_TOPIC=taxi.anomalies
KAFKA_GROUP_ID=taxi-anomaly-detector
KAFKA_AUTO_OFFSET_RESET=latest

# Spark
SPARK_APP_NAME=NYCTaxiAnomalyDetector
SPARK_MASTER=local[*]
SPARK_TRIGGER_INTERVAL=30 seconds
SPARK_CHECKPOINT_DIR=data/checkpoints

# Model
MODEL_PATH=models/isolation_forest.pkl
ANOMALY_CONTAMINATION=0.05
MODEL_N_ESTIMATORS=100
MODEL_RANDOM_STATE=42

# Storage
PARQUET_OUTPUT_PATH=data/output/
LOG_LEVEL=INFO

# Producer
PRODUCER_RATE_PER_SEC=50
PRODUCER_NUM_TRIPS=10000
